body {
	font-family: 'Erica One', cursive;
  margin: 20px;
  background-color: #87CEEB;
	color: #FEFDE3;
	text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.game {
	display: inline-block;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
	color: #87CEEB;
  border: 1px solid #999;
	float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 10px;
  text-align: center;
  width: 60px;
}


.redsquare {
  background: #fff;
  border: 1px solid #999;
	float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 10px;
  text-align: center;
  width: 60px;
}


.table {
  padding: 20px;

}

.square:focus {
  outline: none;
}


.game {
  display: flex;
  flex-direction: row;
}

.rank {
  background-color: #FEFDE3;
  border-radius: 47%;
  padding: 1px 12px;
	color: grey;
  border: 2px solid #87CEEB;
}

.difficulty {
  background-color: #FEFDE3;
  border-radius: 47%;
  padding: 1px 12px;
  border: 2px solid #FEFDE3;
	color: grey;
	border: 2px solid #87CEEB;
}

.loadpuzzles {
  background-color: #FEFDE3;
  border-radius: 47%;
  padding: 1px 12px;
	color: grey;
  border: 2px solid #87CEEB;
}


.start {
  background-color: #FEFDE3;
  border-radius: 47%;
  padding: 1px 12px;
	color: grey;
  border: 2px solid #87CEEB; 
}

.check {
  background-color: #FEFDE3;
  border-radius: 47%;
	color: grey;
  border: 2px solid #87CEEB;
}

