body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #E6E6FA;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 20px;
  text-align: center;
  width: 80px;
}


.redsquare {
  background: #99FFAA;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 80px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 20px;
  text-align: center;
  width: 80px;
}


.table {
  padding: 20px;

}

.square:focus {
  outline: none;
}


.game {
  display: flex;
  flex-direction: row;
}

.start {
  display: inline-block;
  background-color: #ADFF2F;
  border-radius: 47%;
  padding: 20px;
  border: 8px solid #E6E6FA; 
}

.check {
  display: inline-block;
  background-color: #ADFF2F;
  border-radius: 47%;
  padding: 20px;
  border: 8px solid #E6E6FA;
}

