body {
  font-family: 'Erica One';
  margin: 20px;
  background-color: #87CEEB;
  color: #FEFDE3;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.dashboard {
	background-color: #87CEEB;
  text-align: center;
	width: 460px;
	
}

.gamePad {
	
  width: 420px;
  display: inline-block;
	background-color: #87CEEB;
	margin: 0 14px;
}

.game {
	  /* changes when rank changes in game.js */
}

.table {
  padding: 20px;
	margin: 0 auto;

}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.welcome {
	font-size: 140%;
	background-color: #87CEEB;
	text-align: center;
  margin-bottom: 2px;
}

.status {
	background-color: #87CEEB;
	border: none;
	color: #FEFDE3;
	padding: 2px 2px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
}


.square {
  background: #fff;
  color: #87CEEB;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 42px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 4px;
  text-align: center;
  width: 42px;
}


.redsquare {
  background: #ffff80;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 42px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 4px;
  text-align: center;
  width: 42px;
}


.square:focus {
  outline: none;
}


.button {
	background-color: #87CEEB;
	border: 2px solid #FEFDE3;
	margin: 1px;
	color: #FEFDE3;
	padding: 1px 8px;
	text-align: center;
	text-decoration: none;
  display: inline-block;
	font-size: 14px;
	width: 130px;
	-webkit-transition-duration: 0.1s /*Safari*/;
	transition-duration: 0.1s;
}

.button:hover {
	background-color: #3BB9FF;
	color: #FEFDE3;
}


